body {
    background: #000000;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    
  }
  .profile-name{
    color: gray;
      font-family: sans-serif;
      text-align: center;
      font-size: 20px;
     
  }
  .profile-name2 {
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 5px;
}
.profile-name3 {
    color: gray;
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
  }
  
  
  .profile-name3  span{
    color: white;
    font-weight: 500;
  }