body {
  background: #000000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  
}
img {
  border-radius: 50%;
  padding: 15px;
  width: 10%;

}
.profiledata{
  padding: 20px;
}
.profile-name{
  color: rgb(180, 180, 180);
  font-family: sans-serif;
  text-align: center;
  font-size: 25px;
   
}
.profile-name2 {
  font-family: sans-serif;
  text-align: center;
  font-size: 35px;
  padding: 5px;
}
.profile-name3 {
  color: rgb(180, 180, 180);
  font-family: sans-serif;
  text-align: center;
  font-size: 25px;
}


.profile-name3  span{
  color: white;
  font-weight: 500;
}

.profile-picture {
display: block;    
margin-left: auto;
margin-right: auto;
width: 10%;
}
.links-github{
text-align: center;
margin-top: 20px;
padding: 20px;
border:  solid white;
border-width: 0.5px;
width: 250px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 8px;
font-size: 15px;
}

.links-github:hover{
text-align: center;
margin-top: 20px;
padding: 20px;
background: #2B3035;
width: 250px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 8px;
font-size: 15px;
color: white;
}
.links-github img {
  width: 20%;
}
.button {
display: inline-flex;
align-items: center;
justify-content: center;
margin: 10px;
padding: 10px;
border: 1px solid #333;
border-radius: 5px;
text-decoration: none;
color: #333;
font-size: 14px;
font-weight: bold;
}
.button img {
width: 20px;
height: 20px;
margin-right: 5px;
}
.button span {
margin-left: 5px;
}
.button:hover {
background-color: #333;
color: #fff;
}
.section {
margin-left: 10vw;
}
.section li {
font-size: 25px;
margin: 10px 0;
}

.section a {
color: #fff;
text-decoration: none;
font-size: 15px;
}
.spacer {
display: inline-block;
height: 20px;
}
